<!DOCTYPE HTML>
<html <% if (config.language) { %>lang="<%= config.language %>"<% } %>>
<head>
  <meta charset="UTF-8">
  <meta name="baidu-site-verification" content="vqJV77bZM6" />
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title =  __('categories')+' : ' + page.category;
  } else if (is_tag()){
    title = __('tags')+' : ' + page.tag;
  }
  %>
    <title><% if (page.custom_title){ %><%= page.custom_title %> | <% } %><% if (title){ %><%= title %> | <% } %>Swift 教程 - Swift 语言学习 - Swift code - <%= config.title + ' 翻译组 - 高质量的 Swift 译文网站' %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <% if (config.author){ %>
    <meta name="author" content="<%= config.author %>">
    <% } %>

    <meta name="keywords" content="<% if (page.keywords){ %><%= page.keywords %>,<% } %>swift语言,swift翻译,swift学习">
    <meta name="applicable-device" content="pc,mobile">
    <%- open_graph({twitter_id: theme.author.twitter, google_plus: theme.author.google_plus}) %>

    <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
    <% } %>
    <% if (theme.favicon){ %>
    <link rel="icon" href="<%- config.root %><%- theme.favicon %>">
    <% } %>
    <% if (theme.apple_icon){ %>
    <link rel="apple-touch-icon" href="<%- config.root %><%- theme.apple_icon %>">
    <link rel="apple-touch-icon-precomposed" href="<%- config.root %><%- theme.apple_icon %>">
    <% } %>
    <%- css('css/style') %>
    <%- css('css/gitment') %>
</head>
