<% if (theme.duoshuo_shortname && page.comments){ %>
<section id="comments" class="comment">
	<div class="ds-thread" data-thread-key="<%- page.path %>" data-title="<%- page.title %>" data-url="<%- page.permalink %>"></div>
</section>
<% } %>
<% if( (config.disqus_shortname || theme.disqus_shortname) && page.comments) { %>
<section id="comments" class="comment">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<% } %>

<section id="comments" class="comment">
  <div id="gitcomment">
  </div>
  <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
  <script>
    var gitment = new Gitment({
      id: "<%- page.path %>",
      owner: "<%- theme.git_comment.owner %>",
      repo: "<%- theme.git_comment.repo  %>",
      oauth: {
        client_id: "<%- theme.git_comment.oauth.client_id %>",
        client_secret: "<%- theme.git_comment.oauth.client_secret %>",
      },
    })
    gitment.render('gitcomment')
    </script>
</section>


